@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

:root{
    --radius: 15px;
    --darky: #aaa;
    --transit: .4s ease all;
    --fast-transit: .1s ease all;
}
body{
    font-family: poppins;
}
.main_container{
    width: 70%;
    margin: 50px auto;
    padding: var(--radius);
    background-color: var(--darky);
    border-radius: var(--radius);
}
.expense_container{
    margin: 10px auto;
    border-radius: var(--radius);
    background-color: #ccc;
    padding: 0 20px;
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 10px var(--darky);
    transition: var(--transit);
}
.expense_container:hover{
    background-color: #fff;
}

.expense_container .div{
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rebeccapurple;
    width: 80%;
}
.expense_container .p{
    background-color: rebeccapurple;
    padding: 20px;
    border-radius: var(--radius);
    color: white;
    font-size: 18px;
    border: 3px solid var(--darky);

}
.expense_date{
    width: 160px;
    height: 100px;
    background-color: rebeccapurple;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    font-weight: bold;
    border: 5px solid var(--darky);
    margin: auto var(--radius);
}
.expense_date div:last-child{
    font-size: 1.5em;
}